/* WissKI: content.css */
/*========================================================[ FORMS ]*/
fieldset {
	border: 1px solid rgb(222,222,222);
}
/* INPUT */
#wki-content fieldset.wki-fieldset-edit {
    position: relative;
    padding: 5px 0px 0 5px;
    margin-top: -10px;
    margin: 0;
    min-width: -webkit-min-content;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    float:left;
}
/* the first one should be big, the other ones small */
#wki-content div.standard > fieldset.wki-fieldset-edit {
    display: block;
    float: none;
}
#wki-content fieldset.wki-fieldset-edit legend {
    position: relative;
}
#wki-content fieldset.wki-fieldset-edit fieldset.wki-fieldset-edit {
    margin: 0px 5px 10px 10px;
    clear: left;
}

#wki-content fieldset.wki-fieldset-edit input.wki-button-dupl {
    position: relative;
    display: block;
    z-index: 1;
    width: 12px;
    height: 12px;
    /*border: 1px outset rgb(222,222,222);*/
    border: 1px solid rgb(222,222,222);
    outline: none;
    padding: 2px;
    margin: 1px 0 0 0;    
    float: left;
}

#wki-content fieldset.wki-fieldset-edit input.wki-button-undupl {
    position: relative;
    display: block;
    z-index: 1;
    width: 12px;
    height: 12px;
    /*border: 1px outset rgb(222,222,222);*/
    border: 1px solid rgb(222,222,222);
    outline: none;
    padding: 2px;
    margin: 0 0 10px 0;    
    float: left;
}

#wki-content #node-form {
/*  border: 1px solid green;
    position: relative;
    overflow: hidden;
    float: left;*/
}
#wki-content fieldset.wki-fieldset-edit div.form-item {
    margin: 0 5px 5px 0;
    white-space:nowrap;
    float: left;
    clear: left;
}
#wki-content fieldset.wki-fieldset-edit div.form-item label {
    position: relative;
    display: inline-block;
    width: 140px;
    font-weight: normal;
}
#wki-content fieldset.wki-fieldset-edit div.form-item input[type=text] {
    position: relative;
    display: inline;
    border: 1px solid rgb(200,200,200);
}
#wki-content fieldset.wki-fieldset-edit div[id*='-weight-'] {
    position: relative;
    float: right;
    display: inline;
    clear: right;
    border: 1px solid rgb(200,200,200);
}

#wki-content div[id*='wisski_pathbuilder_ontogroup_wrapper_'] {
    display: relative;
    float: left;
    clear:left
}
#wki-content div[id*='wisski_pathbuilder_ontogroup_wrapper_'] + input[type=image] {
    margin-top: 9px;
}

#wki-content div[id*='wisski_pathbuilder_ontotext_wrapper_'] {
    display: relative;
    float: left;
    clear:left
}

#wki-content div[id*='wisski_pathbuilder_field_wrapper_'] {
    display: relative;
    float: left;
    clear:left
}
#wki-content div[id*='wisski_pathbuilder_field_wrapper_'] + input[type=image] {
    margin-top: 9px;
}

#wki-content div[id*='wisski_pathbuilder_field_wrapper_'] {
    display: relative;
    float: left;
    clear:left
}

#wki-content table[id*='wki_drag_table'] {
    border: none;
}

#wki-content table[id*='wki_drag_table'] tbody {
    border: none;
}

#wki-content table[id*='wki_drag_table'] tbody tr.even, tr.odd {
    border: none;
    background-color: #fff;
}

#wki-content table[id*='wki_drag_table'] tbody tr.drag-previous {
    border: none;
    background-color: #ffd;
}

#wki-content table[id*='wki_drag_table'] tbody tr td {
    border: none;
}

#wki-content table[id*='wki_drag_table'] tbody tr td div.form-item {
//    float:left;
//    clear: none;
}

#wki-content table[id*='wki_drag_table'] tbody tr td a.tabledrag-handle {
    float:right;
//    clear: none;
}

#wki-content table[id*='wki_drag_table'] thead {
    display:none;
}



#wki-content fieldset.wki-fieldset-edit div#autocomplete {
    margin: 0px 0 0 154px !important;
    /*border: 1px solid rgb(222,222,222);*/
    border: none;
    /*padding: 0;*/
    /*    width: 388px;*/
    background: rgb(255,255,255);
    border: 1px solid rgb(220,220,220);
}
#wki-content fieldset.wki-fieldset-edit div#autocomplete ul {
    margin: 10px 2px 10px 2px;
}
#wki-content fieldset.wki-fieldset-edit div#autocomplete ul li {
    /*background: rgb(240,240,240);
    padding: 10px 2px 10px 2px;*/
}

#wki-content fieldset.menu-item-form {
     clear: left;
}
/*
#wki-content table[id*='wki_drag_table'] .form-item label:nth-of-type(2) {
    display: none !important;
}
*/


/*
#wki-content fieldset.wki-fieldset-edit {
    border: 1px solid rgb(240,240,240);
    position: relative;
    overflow: hidden;
    float: left;
}
#wki-content div[id*='wisski_pathbuilder_ontogroup_wrapper_'] {
    float: left;
}
#wki-content .menu-item-form {
     clear: left;
}
#wki-content fieldset.wki-fieldset-edit .form-item  {
}
#wki-content fieldset.wki-fieldset-edit .form-item label {
    display: block;
    font-style: italic;
    font-size: 0.8em;
    color: rgb(128,128,128);
    padding-bottom: 0.2em;
}
#wki-content fieldset.wki-fieldset-edit .form-item input {
    margin-left: 0.5em;
    font-size: 0.9em;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 1px solid rgb(240,240,240);
    background: rgb(240,240,240)
}
#wki-content fieldset.wki-fieldset-edit .form-item input:focus {
    background: rgb(255,255,255)
}
#wki-content fieldset.wki-fieldset-edit .form-radios .form-item {
    clear: none;
    float: left;
    margin-top: -1em;
    margin-right: 1em;
}
#wki-content fieldset.wki-fieldset-edit .form-radios .form-item label {
    font-style: normal;
    font-size: 1em;
}
#wki-content fieldset.wki-fieldset-edit input.wki-button-dupl {
    position: relative;
    display: block;
    z-index: 1;
    float: right;
    width: 12px;
    height: 12px;
    padding: 2px 2px 2px 2px;
    margin-top: 14px;
    border: 1px outset rgb(222,222,222);
    outline: none;
}
#wki-content fieldset.wki-fieldset-edit input.wki-button-dupl:hover {
}
#wki-content fieldset.wki-fieldset-edit input.wki-button-dupl:active {
    border:0 none;
}
#wki-content table[id*='wki_drag_table'] {
    display: none;
}
*/
/* OUTPUT */
#wki-content fieldset.wki-fieldset-view {
    position: relative;
    border: 0 none;
    margin: 0 0 1em 0;
    padding: 0 0 0.8em 0.3em;
    /* width: 100%; */
}
#wki-content fieldset.wki-fieldset-view div.wki-data-value {
    position: relative;
    display: block;
    word-wrap: break-word;
}
#wki-content fieldset.wki-fieldset-view fieldset {
    margin-top: 0.6em;
    /*border-right: 0 none;
    border-bottom: 0 none;*/
    padding-bottom: 0;
    margin-bottom: 15px;
    margin-left: 8px;
//    margin-right: 5px;
    clear: left;
}
#wki-content fieldset.wki-fieldset-view legend {
    padding: 0 5px 0 0;
    margin: 0;
}
#wki-content fieldset.wki-fieldset-view legend a {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    color: rgb(128,128,128);
}
input.form-text {
    width: auto !important;
}
div.wki-data-item {
    margin-bottom: 0.2em;
}
div.wki-data-label {
    display: block;
    font-style: italic;
    font-size: 0.8em;
    color: rgb(128,128,128);
}
div.wki-data-value {
    margin-left: 0.5em;
    font-size: 0.9em;
}

div#wki-content-other {
    clear: both;
}
/* BUTTONS */
.form-submit {
    border: 2px outset rgb(240,240,240);
    background: rgb(240,240,240);
    font-size: 1em;
    font-weight: bold;
    color: #606060;
}
/*=======================================================[ TABLES ]*/
table {
    width: 100%;
}
div#wki-content-other table {
   width: auto;
}
table th {
    font-weight: normal;
    font-size: 0.8em;
    font-style: italic;
}
/* PATHBUILDER */
#wisski_pathbuilder-overview tr td:first-child {
    white-space: nowrap;
    padding: 2px 5px 0 0px;
    min-width: 180px;
}

#wisski_pathbuilder-overview div.indentation {
    width: 10px;
}
#wisski_pathbuilder-overview a.tabledrag-handle {
    margin: -2px 5px 0px 0px;
    padding: 0;
}

/*
#wisskiTemplate-overview  td {
    vertical-align: top;
}
#wisskiTemplate-overview a.tabledrag-handle {
    padding: 0 0.4em 0 0;
    margin-top: -0.2em;
    margin: -0.2em 0 0 0;
}
#wisskiTemplate-overview .indentation {
    width: 7px;
}
#wisskiTemplate-overview .wki-col1 {
    font-size: 0.9em;
    white-space: nowrap;
}
#wisskiTemplate-overview .wki-col2 {
    font-size: 0.8em;
}
*/
/*=========================================================[ TEXT ]*/
#wki-content  a {
    color: rgb(195,79,9);
    text-decoration: none;
}
#wki-content p {
}
#wki-content-left p {
    margin: 0 0 0.3em 0;
    line-height: 1.5em;
    text-align: justify;
}
#wki-content-left h2 {
    display: block;
    font-size: 1.2em;
    color: rgb(96,96,96);
    padding: 0;
    margin: 1em 0 0.4em 0;
}
#wki-content ul {
}
#wki-content ul li {
    list-style-type: square;
    list-style-image: url('../pics/ico_leaf.png');
}
#wki-content div.wisski_textmod_foreign_text_region {
    border: 0 none;
    margin: 0 0 1em 0;
    padding: 0 0.3em 0.8em 0.3em;
    width: 66%;
}

/*=================================================[ RESULT LISTS ]*/
ul.wisski_resultlist {
    list-style-image: none;
}
ul.wisski_resultlist li.wisski_resultitem {
    display: block;
    overflow: hidden;
    clear: left;
    margin-bottom: 15px;
}
ul.wisski_resultlist li.wisski_resultitem img {
    display: block;
    width: 100px;
    float: left;
    margin-right: 15px;
}

ul.wisski_resulttiles {
    list-style-image: none;
    overflow: hidden;
}
ul.wisski_resulttiles li.wisski_resultitem {
    display: block;
    width: 130px;
    height: 170px;
    float: left;
    text-align: center;
    border: 1px solid rgb(192,192,192);
    margin: 0 10px 10px 0;
    padding-top: 5px;
    overflow: hidden;
}
ul.wisski_resulttiles li.wisski_resultitem div.wisski_tileimg {
    display: block;
    height: 120px;
    width: 120px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 5px;
    border: 1px solid rgb(230,230,230);
}
ul.wisski_resulttiles li.wisski_resultitem img {
    display: block;
    max-width: 120px;
    max-height: 120px;
    margin: auto;
/*    margin-top: 5px;
    margin-bottom: 5px;*/
}

/*=====================================================[ MESSAGES ]*/
.messages {
    border: 1px solid #b8d3e5;
    margin: 0.75em 0pt 0.75em 0pt;
    padding: 0.5em 1em 0.5em 1em;
}
div.status {
    color: #33a333;
    border-color: #c7f2c8;
}
div.warning {
    margin: 0.75em 0pt 0.75em 0pt;
    padding: 0.5em 1em 0.5em 1em;
}
div.error {
    margin: 0.75em 0pt 0.75em 0pt;
    padding: 0.5em 1em 0.5em 1em;
}
/*=======================================================[ DRUPAL ]*/
.profile {
    clear: none;
}
.node-form .standard {
    clear: none;
}
/*=====================================================[ TOOLTIPS ]*/

.form-wisski-tooltip {
    position: relative;
    //border-bottom: 1px dotted #C20; cursor: help;
    color: #f00;    
}

.form-wisski-tooltip:hover {z-index: 1;}

.form-wisski-tooltip em {
    display: none;
    font-style:normal;
}

.form-wisski-tooltip:hover em {
    background-color:#fff;
    color:#333;
    border:1px solid #cc9;
    padding:3px;
    font-size:13px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;

    display: block;
    position: absolute;
}