/* WissKI: design.css */
/*=======================================================[ COMMON ]*/
html {
//    height: auto !important;
    height: 100%;
//    min-height: 100%;    
}
body {
    background-color: rgb(240,167,26);
    font-family: sans-serif;
    font-size: 0.8em;
//    min-height: 100%;
}
#wki-bodywrap {
    background-color: rgb(255,255,255);
    min-width: 1000px;
    min-height: 100%;
//    overflow: auto;
}
/*=======================================================[ HEADER ]*/
#wki-header {
    background: url('../pics/bgr_headfade.png') repeat-x bottom;
    padding: 1.5em 3em 4em 3em;
    overflow: auto;
}

#wki-header-con {
    display: block;
}
#wki-logo {
    float: left;
    padding-right: 15px;
}
#wki-nav {
    float: right;
    text-align: right;
}
#wki-nav-primary {
    display: block;
    font-size: 1em;
    margin-top: 17px;
    font-weight: normal;
}
#wki-nav-primary a {
    text-decoration: none;
    color: rgb(128,128,128);
}
#wki-nav-primary a:hover { 
    color: rgb(187,96,5);
}
#wki-nav-secondary {
    display: block;
    margin-top: 0.8em;
    font-size: 1em;
    font-weight: normal;
}
#wki-nav-secondary li {
    float: right;
    margin-left: 5px;
    padding: 0;
}
#wki-nav-secondary a {
    display: block;
    width: 100px;
    text-align: center;
    border: 1px solid rgb(187,187,187);
    text-decoration: none;
    color: rgb(64,64,64);
    background: url('../pics/bgr_button.png') repeat-x top;
}
#wki-nav-secondary a:hover {
    color: rgb(187,96,5);
    border: 1px solid rgb(187,96,5);
    background: url('../pics/bgr_button_hover.png') repeat-x top;
}
#wki-sitename {
    padding: 19px 0px 1px 0px;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(128,128,128);
}
#wki-siteslogan {
    font-size: 1em;
    color: rgb(128,128,128);
}
#wki-header-blocks {
    display: block;
    margin-left:125px;
    margin-right: 95px;
}
#wki-breadcrumb {
    font: italic 0.8em sans-serif;
}
/*=======================================================[ CORPUS ]*/
#wki-border-left {
    background: url('../pics/bgr_corner_left.png') no-repeat top right;
    height: 120px;
}
#wki-border-right {
    background: url('../pics/bgr_corner_right.png') no-repeat top left;
    height: 120px;
}
#wki-corpus {
    background: url('../pics/bgr_rim_top.png') repeat-x top;
}
/*=======================================================[ TOPBAR ]*/
#wki-topbar {
    padding: 1em 1em 0em 1em;
    position: relative;
}
#wki-title {
    display: block;
    font-size: 1.4em;
    color: rgb(96,96,96);
    margin-bottom: 0.8em;
}
/* Drupal Tabs */
ul.primary {
    border: 0 none;
    margin-left: 0;
    padding-left: 0;
}
ul.primary li  {
}
ul.primary li a {
    border: 1px solid rgb(240,240,240);
    background: rgb(255,255,255);
    padding: 0.2em 0.4em 0.2em 0.4em;
    color: rgb(128,128,128);
    font-size: 0.8em;
}
ul.primary li.active a {
    border: 1px solid rgb(240,240,240);
    background: rgb(128,128,128);
    color: rgb(255,255,255);
}
/*=======================================================[ BLOCKS ]*/
#wki-block-left {
//    padding: 1em 0 0 0;
}
#wki-block-right {
//    padding: 1em 0 0 0;
}
#wki-block-right div.block-inner {
    word-wrap: break-word;
}
#wki-block-right > div, #wki-block-left > div {
    margin-bottom: 0.5em;
}

#wki-block-left .wki-invisible {
    visibility: hidden;
}

#wki-block-right .wki-invisible {
    visibility: hidden;
}

/* Drupal Blocks */
div.block-inner {
    border: 1px solid rgb(240,240,240);
    padding: 0 0.5em 0.5em 0.5em;
}
div.block-inner h2 {
    margin-top: 0.5em;
    padding-left: 0em;
    font-size: 1em;
    font-weight: bold;
    color: rgb(96,96,96);
}
div.block-inner h3 {
    margin-top: 0.2em;
    margin-bottom: 0em;
    font-size: 1em;
    font-weight: normal;
    color: rgb(96,96,96);
}
div.block-inner a {
    color: rgb(187,96,5);
    text-decoration: none;
}
div.block-inner ul {
    margin-top: 0;
}
div.block-inner li {
    list-style-type: square;
    list-style-image: url('../pics/ico_leaf.png');
}
div.block-inner img {
    display: block;
    width: 100%;
    margin: auto;
}

div.block-inner div.wisski-image-container {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#block-wisski_images-0 div.block-inner ul {
    padding-left: 0px; //0.5em;
    padding-right: 0px; //0.5em;
}
#block-wisski_images-0 div.block-inner li {
    list-style-type: none;
    list-style-image: none;
    margin-bottom: 1em;
}
/* Switch off webkit-min-content because otherwise big content can enlarge the fieldset */
#block-wisski_images-0 div.block-inner li .wisski-images-exif-fieldset {
    min-width: 0;
    overflow:hidden;
    // only way to get it working in ff and chrome
    display:table-column;
    padding-bottom: 0em;
}
#block-wisski_images-0 div.block-inner li .wisski-images-exif-fieldset legend {
    font-size: 0.8em;
}
#block-wisski_images-0 .wisski-images-exif-fieldset div.wki-data-value {
    word-wrap: break-word;
}
#block-wisski_images-0 div.block-inner li .wisski-image-subtitle {
    word-wrap: break-word;
    padding-left: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;
    font-style: italic;
    font-size: 0.9em;
    // only way to get it working in ff and chrome
    display:table-column;
}


/*======================================================[ CONTENT ]*/
#wki-content {
//    padding: 1em;
    background: rgb(255,255,255);
}

#wki-content-left {
    padding-top: 0.5em;
}

#wki-content-right {
    margin: 0.5em 0 0 1em;
    padding: 0 0.5em 0 0.5em;
    border-left: 1px solid rgb(240,240,240);
    max-width: 30%;
}
/* Switch off webkit-min-content because otherwise big content can enlarge the fieldset */
#wki-content-right .wki-fieldset-view {
    min-width: 0%;
}
#wki-nodeinfo {
    clear: both;
}
/*=====================================================[ COMMENTS ]*/
#comments {
    clear: both;
    display: block;
}
.comment {
    border-top: 1px solid rgb(240,240,240);
    border-left: 1px solid rgb(240,240,240);
    padding: 0 1em 1em 1em;
}
.comment_delete, .comment_edit, .comment_reply {
    border: 1px solid rgb(240,240,240);
    color: rgb(128,128,128);
}
/*=========================================================[ META ]*/
.meta {
    padding: 0.8em 0 2em 0;
    font-style: italic;
    font-size: 0.8em;
}
.meta-individual {
    clear: both;
}
/*=======================================================[ FOOTER ]*/
#wki-footer {
//    position: fixed;
//    width: 100%;
//    position: absolute;
    position: relative;
    left: 0;
    right: 0;
    padding: 1em 1em 1em 1em;
    border-top: 5px solid rgb(222,222,222);
    background: url('../pics/bgr_footfade.png') repeat-x top;
    background-color: rgb(240,167,26);
    color: rgb(240,240,240);
//    bottom: 0px;
//    margin-top: -3em;
    min-height: 100px;
}
#wki-footer a {
    color:rgb(240,240,240);
    text-decoration: none;
}
#wki-footer-box {
    position: relative;
    margin-left: 20%;
}
#wki-footer-box div {
    text-align: right;
    border: 0 !important;
}

#wki-footer-text {
    position: relative;
    margin-left: 30px;
}

wki-footer-text ul {
    float: left;
}