/* WissKI: layout.css */
/*=======================================================[ COMMON ]*/
body {
    margin: 0;
}
/*=======================================================[ CORPUS ]*/
#wki-border-left {
    float: left;
    width: 2em;
    margin-top: -3em;
}
#wki-border-right {
    float: right;
    width: 2em;
    margin-top: -3em;
}
#wki-corpus {
    margin-left: 2em;
    margin-right: 2em;
    overflow: hidden;
    margin-top: -3em;
}
/*=======================================================[ BLOCKS ]*/
#wki-block-right {
    float: right;
    width: 15%;
}
#wki-block-left {
    float: right;
    width: 15%;
    margin-right: 0.5em;
}
/*======================================================[ CONTENT ]*/
#wki-content {
//    margin-right: 31%;
    overflow:auto;
    overflow-wrap: inherit;
}
#wki-content-left {
}
#wki-content-right {
    float: right;
    overflow: hidden;
}
/*=======================================================[ FOOTER ]*/
#wki-footer {
    clear: both;
    margin-top: 4em;
}
#wki-footer-box {
    float: right;
}
